<section class="page-head">
  <h1>Edit Job</h1>
</section>

<form action="/jobs/{{job._id}}?_method=PUT" method="POST" enctype="multipart/form-data" class="card">
  {{> job-form}}

  <div class="form-submit-row">
    <button class="button" type="submit">Update Job</button>
  </div>
</form>

<script src="/js/job-map.js"></script>
<script src="/js/work-days.js"></script>
<script src="/js/photo-gallery-temp.js"></script>
{{#if googleMapsApiKey}}
  <script src="https://maps.googleapis.com/maps/api/js?key={{googleMapsApiKey}}&callback=initJobMap" async defer></script>
{{/if}}
